<div class="wrapper">
  	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="center">
              <a class="navbar-brand" href="#"><img src="http://www.decsoft.com.pl/templates/img/decsoft/logo.png" alt="Decsoft"></a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">First Link <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
            <div class="search_field">
              <input placeholder="Search" type="text">
              <div>
                <hr aria-hidden="true" class="first_hr">
                <hr aria-hidden="true" class="sec_hr">
              </div>
            </div>
              </div>
              <button type="submit" class="btn btn-default search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div>
      </nav>
  <main class="main">
      <div class="acrylic shadow">
          <main>
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">PoC Angular</li>
                  </ol>
                </div>
              </div>
              <div class="row">
                <section class="col-xs-12">
                  <div class="page-header">
                    <h1>PoC <small>Angular</small></h1>
                  </div>
                </section>
                <section class="col-xs-12 text-justify">
                  <p class="hidden">W PoC wykorzystany został jeden z filarów fluent design.</p>
                  <p class="hidden">Pole wyszukiwarki zawiera cechy Material Design, choć efekt został osiągnięty przy pomocy html + css, bez użycia js.</p>
                  <p class="hidden">Poniżej przykładowe ostylowanie checkboxów - niektórzy mają z tym problem, a w projektach jest coraz większa presja na personalizację tych elementów html.</p>
                  <p>&nbsp;</p>
                  <app-taskslist></app-taskslist>
                  <form class="hidden" >
                    <div class="row">
                      <div class="col-sm-11 col-md-5 col-sm-offset-1 col-md-offset-1">
                        <div class="input-group pretty">
                          <input type="checkbox" id="checkbox_1">
                            <label for="checkbox_1"><span class="glyphicon glyphicon-ok" ></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
                        </div>
                      </div>
                      <div class="col-sm-11 col-md-5 col-sm-offset-1 col-md-offset-1">
                        <div class="input-group pretty">
                          <input type="checkbox" id="checkbox_2">
                          <label for="checkbox_2"><span class="glyphicon glyphicon-ok" ></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </main>
        </div>
  </main>
  <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container-fluid">
          <span class="nav_height">@<a href="mailto:pawlowski.marcin@gmail.com" title="Marcin Pawlowski">Marcin Pawłowski</a></span>
        </div>
      </nav>
    </footer>
</div>
